h1 {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 30px;
}
h2 {
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-bottom: 0;
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
li a:hover {
  text-decoration: underline;
}
p {
  line-height: 30px;
  font-size: 18px;
}
strong {
  font-size: 20px;
}
img {
  display: block;
  margin: auto;
}
a .preimg:hover {
  opacity: 0.5;
  transition: .5s ease;
}
#left ul {
  padding-left: 35px;
}
#left iframe {
  padding-left: 5px;
}
#indexcontent2 p {
  margin: 0;
}
.trunk {
  margin-bottom: 8px;
}
.img {
  float: left;
  margin-right: 10px;
}
.cookli {
  padding: 5px;
  border-bottom: 1px solid gray;
}
.centeredpagination {
  text-align: center;
}
.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 14px;
  text-decoration: none;
}
.pagination a.active {
  background-color: gray;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.inlinepic {
  display: inline-block;
  margin: auto;
}
.twopic {
  text-align: center;
}
.preimg {
  margin: 5px;
  display: inline-block;
  width: 150px;
  height: 150px;
}
#left {
  border-right: 1px solid black;
  padding-right: 30px;
  padding-top: 0;
  margin: 0;
  width: 140px;
  font-size: 18px;
}
#grid {
  display: grid;
  grid-template-columns: 190px 1fr;
}
#indexgrid {
  display: grid;
  grid-template-columns: 190px 1fr 1fr;
}
#cookol {
  width: 500px;
  margin: 0;
  padding: 20px;
  padding-top: 10px;
}
#content {
  margin: 0;
  padding-top: 0;
}
#indexcontent {
  margin: 0;
  padding-top: 0;
  border-right: 1px solid black;
}
#indexcontent2 {
  margin: 0;
  padding: 20px;
  padding-top: 5px;
}

@media (max-width: 800px) {
  #grid {
    display: block;
  }
  #indexgrid {
    display: block;
  }
  #left {
    border-right: none;
  }
  h2 {
    margin: 0;
    margin-top: 10px;
  }
  #content {
    margin: 0;
    padding-top: 0;
    padding-left: 15px;
  }
  #indexcontent {
    margin: 0;
    padding-top: 0;
    padding-left: 15px;
    border-right: none;
  }
  #indexcontent2 {
    margin: 0;
    padding-top: 0;
    padding-left: 15px;
  }
}
